.Login-Button {
   
    background-color: #EF476F;
    color: white;
    border: none;
    border-radius: 7px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
}


.Profile-img {
    
    background-color: lightblue;
    padding: 0.5%;
    border-radius: 100%;
}