.Login-Button {
   
    background-color: #EF476F;
    color: white;
    border: none;
    border-radius: 10%;
    
}


.Profile-img {
    
    background-color: lightblue;
    padding: 0.5%;
    border-radius: 100%;
}