.App {
    padding: 2%;
  }

  .graph-container {
    display: flex;
  
    background-color: #7F7979;
    padding: 2%;
  }
  
  @media (min-width: 1650px) { 
    .graph-container {
        justify-content: space-around;
        align-items: center;
    }
  }

  @media (max-width: 1650px) { 
    .graph-container {
        justify-content: center;
        flex-flow: row wrap;
    }
  }
  
  .temp-graph {
    
  }
  
  .humidity-graph {
    
  }