.navbar {
    /* Display flex and background color */
    display: flex;
    background-color: #5F5B6B;

    /* Align items to center vertically */
    align-items: center;
    /* Justify-content to set items at start, middle and end */
    justify-content: space-between;

    /* Width and heigh definition */
    width: 93%;
    height: 10%;

    /* Border definition */
    border-radius: 6px;

    /* Margin and padding */
    margin: 1% auto;
    padding: 0.25% 1% 0.25% 1%;
}

.Drop-down { 

}

.logo {

}


.login {

}