.navbar {
    display: flex;
    background-color: lightblue;

    width: 93%;
    height: 7%;
    border-radius: 6px;
    
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
}

/* Not a good way to do it, Should be changed later (maybe)*/
.Drop-down { 
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}