.Target-card-card {
  background-color: #7f7979;
  display: inline-block;
  width: 25%;
}

.Title-TargetCard {
  padding-top: 0.75%;
  display: flex;
  justify-content: center;
  font-size: 125%;
  font-family: "Sora", sans-serif;
}

.error-container {
  display: flex;
  justify-content: center;

  font-family: "Sora", sans-serif;
  padding-bottom: 2%;
}

.hide {
  display: none;
}

.Input-TargetCard {
  padding: 1%;
  width: 50%;
  font-family: "Sora", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Save-button-TargetCard {
  width: 25%;
  background-color: #ef476f;
  color: white;
  border: none;
}

.Input-container-TargetCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2%;
}
